body{
    background-color: rgb(177, 208, 255);
}

img{
    
    width:15%;
} 

table{
    margin: auto;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace
}

.a1
{
        background-color: rgb(248, 207, 229);
        color: firebrick;
        font-size: 35pt;
        font-family: 'Courier New', Courier, monospace
                
}

.a2{
    
    font-size: 20pt;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace
} 


.a3{
    margin-left: 10px;
    font-size: 20pt;
    margin-left: 800px;
    margin-right: 800px;
    color:rgb(0, 132, 255);
    background-color: rgb(188, 248, 223);
    font-family: 'Courier New', Courier, monospace
} 


.a4{
    margin-left: 800px;
    margin-right: 800px;
    font-size: 20pt;
    color:rgb(0, 132, 255);
    background-color: rgb(188, 248, 223);
    font-family: 'Courier New', Courier, monospace
} 


.a5{

    font-weight: lighter;
    font-size: 20pt;
    color:rgb(0, 0, 0);
    background-color: rgb(102, 245, 166);
    font-family: 'Courier New', Courier, monospace
} 


th{
    text-decoration: underline;
} 

 .left_page{
    text-align: center;
} 





/*project.html*/


.b0{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    font-weight: lighter
}

.b1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40pt;
    font-weight: lighter
}


.b2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40pt;
    font-weight: lighter
}

.b3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40pt;
    font-weight: lighter
}
.b5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    font-weight: lighter
}

img{
    width: 20%;
}



@media screen and (max-width: 575px)
{

    .grid-container
    {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header
    {
        grid-column: 1 / span 3;
    }
    
    #menu
    {
        grid-column: 1 / span 3;
    }
    
    #main
    {
        grid-column: 1 / span 3;
    }
    #right
    {
        grid-column: 1 / span 3;
    }
    
    #footer
    {
        grid-column: 1 / span 3;
    } 
} 

#right img
{
    width:100%;
}

#right div
{
    margin-bottom: 20px;
}