body{
    background-color: rgba(24, 24, 180, 0.486);
}
h1, h2{
    background-color:rgb(194, 194, 245);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


h2{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    font-style: italic;
    width: 100%;
}

ul{
    font-family: Garamond, "Times New Roman", serif; 
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    padding: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    background-color:white;
} 

#header{
    grid-column: 1 / span 3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
}
#right{
    grid-column: 3 / span 1;
}

#footer{
    grid-column: 1 / span 3;
} 

@media only screen and (max-width: 575px){
    body{
        background-color: rgb(255, 255, 255);
        
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }
    
    #menu{
        grid-column: 1 / span 1;
    }
    
    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 1 / span 1;
    }
    
    #footer{
        grid-column: 1 / span 1;
    } 
} 

#right img{
    width:100%;
}

#right div{
    margin-bottom: 20px;
}